<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>ABEL</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.pharmagestActivator</activator>
	
	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.PharmaGestGutterLink
		</class>
	</extension>
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
		ClassePharma.hbm.xml
		Fournisseur.hbm.xml
		GestionnairePharma.hbm.xml
		HistoMouvementStock.hbm.xml
		Inventaire.hbm.xml
		LigneDispensation.hbm.xml
		LigneInventaire.hbm.xml
		LingeOperation.hbm.xml
		Medecin.hbm.xml
		Operation.hbm.xml
		Ordonnance.hbm.xml
		PatientComplement.hbm.xml
		PrixProduit.hbm.xml
		Produit.hbm.xml
		Programme.hbm.xml
		Regime.hbm.xml
		Stocker.hbm.xml
		TypeOperation.hbm.xml			
		
		
		PharmClassePharma.hbm.xml
		PharmFournisseur.hbm.xml
		PharmGestionnairePharma.hbm.xml
		PharmHistoMouvementStock.hbm.xml
		PharmInventaire.hbm.xml
		PharmLigneDispensation.hbm.xml
		PharmLigneInventaire.hbm.xml
		PharmLigneOperation.hbm.xml
		PharmMedecin.hbm.xml
		PharmOperation.hbm.xml
		PharmOrdonnance.hbm.xml
		
		PharmPrixProduit.hbm.xml
		PharmProduit.hbm.xml
		PharmProduitAttribut.hbm.xml
		PharmProgramme.hbm.xml
		PharmRegime.hbm.xml

		PharmStocker.hbm.xml
		PharmTypeOperation.hbm.xml	
	</mappingFiles>
	
	<!-- Privileges list -->
	<privilege>
		<name>pharmacie</name>
		<description>Peut manager le module pharmagest</description>
	</privilege>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

